Package: me.dleovl.estrogen
Name: Estrogen
Version: 69
Architecture: iphoneos-arm64
Description: You know you want to install it.
Maintainer: dleovl
Author: dleovl
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
